{% extends "base.twig" %}

{% block content %}

    <img src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/bubble.webp" alt="Bubble" class="bubble" style="display: none">

    <section class="hero__container">
        <div>
            <h1>La plateforme pour trouver vos stages</h1>
            <p>Une aventure dans le monde professionnel à travers la faille des stages.
                Connectez-vous dès maintenant et boostez votre visibilité auprès des entreprises.
            </p>
            <h4 class="hero__subtitle">Des nombreuses entreprises partenaires</h4>
            <div class="hero__scroll">
                <div class="hero__scroll__images">
                    <img alt="Siemens" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/siemens.webp">
                    <img alt="Cisco" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/cisco.webp">
                    <img alt="Global Exam" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/globalexam.webp">
                    <img alt="Siemens" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/siemens.webp">
                    <img alt="Cisco" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/cisco.webp">
                    <img alt="Global Exam" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/globalexam.webp">
                </div>
            </div>
        </div>
        <img alt="Hero | Intern Rift | Image de Storyset" class="hero__image" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/hero.svg">
    </section>

    <section class="rift__container">
        <img alt="Bg" class="rift__background" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/background.webp">
        <div class="rift__box">
            <h3 class="rift__title">1. Des entreprises vous proposent des stages</h3>
        </div>
        <div class="rift__line"></div>

    </section>

    <section class="cta__container">
        <div class="cta__content">
            <h2 class="cta__title">Connectez-vous dès maintenant</h2>
            <div>
                <input class="button__primary button--small" type="submit" value="Se connecter">
            </div>
        </div>
    </section>

    <section class="offers__container">
        <div class="offers__header">
            <h2>Les dernières offres de stages</h2>
            <a class="button__secondary" href="/offres">Voir toutes les offres
                <i class="icon button__icon">arrow_forward</i>
            </a>
        </div>
        <article class="offers__cards">
            {% for offer in offers %}
                <a class="offers__card" href="/details-offre?id={{ offer.id }}">
                    <p class="offers__card__company">{{ offer.company.name }}</p>
                    <h3 class="offers__card__title">{{ offer.title }}</h3>
                    <div class="offers__card__tags">
                        <p>
                            <i class="icon">location_on</i>
                            {{ offer.city }}, {{ offer.country }}
                        </p>
                        <p>
                            <i class="icon">schedule</i>
                            Stage
                        </p>
                    </div>
                    <button class="button__primary">Postuler
                        <i class="icon button__icon">arrow_forward</i>
                    </button>
                </a>
            {% endfor %}

        </article>
    </section>

{% endblock %}
