{% extends "base.twig" %}

{% block content %}

    <section class="offer__container">
        <div class="offer__content">
            <h2>{{ offer.title }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at commodi cumque deserunt et id
                omnis optio, quibusdam sint velit.</p>

            <a class="button__secondary" href="#">
                Ajouter à la wishlist
                <i class="icon button__icon">star</i>
            </a>
            <div class="offer__details">
                <p><strong>Posté le : </strong>{{ offer.created_at|date("d/m/Y") }}</p>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        {{ offer.city }}, {{ offer.country }}
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        CDI
                    </p>
                </div>
            </div>
            <hr>
            <h3>À propos de l'entreprise</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores, aspernatur at atque
                cumque dicta et hic magni maiores modi, provident quaerat quisquam, tenetur! Consectetur maiores
                obcaecati optio quo unde!
            </p>
            <h3>À propos du stage</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dor incididunt ut
                labore et dolore magna aliqua consectur.
            </p>
            <ol>
                <li>Neque sodales ut etiam sit amet nisl purus non tellus</li>
                <li>Adipiscing elit ut aliquam purus sit amet viverra suspendisse</li>
                <li>Mauris commodo quis imperdiet massa tincidunt nunc</li>
                <li>Adipiscing elit ut aliquam purus sit amet viverra suspendisse</li>
            </ol>
            <p>
                Mi quis hendrerit dolor magna eget est lorem consequat ac felis donec et odio pellentesque odio
                facilisis mauris sit amet massa. Sapien faucibus et molestie ac feugiat sed lectus vestibulum
                mattis ultrices neque ornare aenean euismod.
            </p>
            <div class="offer__cta">
                <div class="offer__cta__text">
                    <img alt="Image Postuler" class="offer__cta__logo" src="/assets/img/offer.svg">
                    <div>
                        <h4>Postulez dès maintenant</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <a class="button__primary" href="#">
                    Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </a>
            </div>
        </div>
        <div class="background"></div>
    </section>

    <section class="bg__200">
        <div class="offers__container">
            <div class="offers__header">
                <h2>Les dernières offres de stages</h2>
                <a class="button__secondary" href="/dernieres-offres">Voir toutes les offres
                    <i class="icon button__icon">arrow_forward</i>
                </a>
            </div>
            <article class="offers__cards">
                {% for offer in offers %}
                    <a class="offers__card" href="/details-offre?id={{ offer.id }}">
                        <p class="offers__card__company">{{ offer.company.name }}</p>
                        <h3 class="offers__card__title">{{ offer.title }}</h3>
                    <div class="offers__card__tags">
                        <p>
                            <i class="icon">location_on</i>
                            {{ offer.city }}, {{ offer.country }}
                        </p>
                        <p>
                            <i class="icon">schedule</i>
                            Stage
                        </p>
                    </div>
                    <button class="button__primary">Postuler
                        <i class="icon button__icon">arrow_forward</i>
                    </button>
                </a>
                {% endfor %}
            </article>
        </div>

    </section>

{% endblock %}