{% extends "base.twig" %}

{% block content %}

    <section class="offers__container">
        <h2 class="text__center">Les dernières offres de stages</h2>
        <p class="text__center">Découvrez les dernières offres de stages publiées et disponibles sur la plateforme
            Intern Rift.</p>

        <article class="offers__cards">
            {% for offer in items %}
                <a class="offers__card" href="/details-offre?id={{ offer.id }}">
                    <p class="offers__card__company">{{ offer.company.name }}</p>
                    <h3 class="offers__card__title">{{ offer.title }}</h3>
                    <div class="offers__card__tags">
                        <p>
                            <i class="icon">location_on</i>
                            {{ offer.city }}, {{ offer.country }}
                        </p>
                        <p>
                            <i class="icon">schedule</i>
                            Stage
                        </p>
                    </div>
                    <button class="button__primary">Détails
                        <i class="icon button__icon">arrow_forward</i>
                    </button>
                </a>
            {% endfor %}
        </article>

        {% include 'pagination.twig' %}

    </section>

{% endblock %}