{% extends "base.twig" %}

{% block content %}

    <section class="offers__container">
        <h2 class="text__center">Résultat de la recherche</h2>
        <p class="text__center">Découvrez l'ensemble des offres et entreprises qui vous proposent des stages sur notre
            plateforme
            Intern Rift.</p>
        <hr>
        <h3>Offres</h3>
        {% if offers[0] %}
        <article class="offers__cards">
            {% for offer in offers %}
                <a class="offers__card" href="/details-offre?id={{ offer.id }}">
                    <p class="offers__card__company">{{ offer.company.name }}</p>
                    <h3 class="offers__card__title">{{ offer.title }}</h3>
                    <div class="offers__card__tags">
                        <p>
                            <i class="icon">location_on</i>
                            {{ offer.city }}, {{ offer.country }}
                        </p>
                        <p>
                            <i class="icon">schedule</i>
                            Stage
                        </p>
                    </div>
                    <button class="button__primary">Postuler
                        <i class="icon button__icon">arrow_forward</i>
                    </button>
                </a>
            {% endfor %}
        </article>
        {% else %}
            <p>Aucune offre trouvée.</p>
        {% endif %}

        <hr>
        <h3>Entreprises</h3>
        {% if companies[0] %}
            <article class="offers__cards">
                {% for company in companies %}
                    <a class="offers__card" href="/details-entreprise?id={{ company.id }}">
                        <h3 class="offers__card__title">{{ company.name }}</h3>
                        <p class="offers__card__company">{{ company.description }}</p>

                        <div class="offers__card__tags">
                            <p>
                                <i class="icon">location_on</i>
                                {{ company.location }}
                            </p>
                            <p>
                                <i class="icon">schedule</i>
                                Stage
                            </p>
                        </div>
                        <button class="button__primary">Postuler
                            <i class="icon button__icon">arrow_forward</i>
                        </button>
                    </a>
                {% endfor %}
            </article>
        {% else %}
            <p>Aucune entreprise trouvée.</p>
        {% endif %}
    </section>

{% endblock %}