{% extends "sidebar.twig" %}

{% block content %}

    <section class="offers__container">
        <h2 class="text__center">Ma Wishlist</h2>
        <p class="text__center">
            Découvrez toutes les offres de stages que vous avez ajoutées à votre wishlist.
        <article class="offers__cards" style="grid-template-columns: 1fr">
            {% for wish in items %}
                <a class="offers__card" href="/details-offre?id={{ wish.offer.id }}">
                    <p class="offers__card__company">{{ wish.offer.company.name }}</p>
                    <h3 class="offers__card__title">{{ wish.offer.title }}</h3>
                    <div class="offers__card__tags">
                        <p>
                            <i class="icon">location_on</i>
                            {{ wish.offer.city }}, {{ wish.offer.country }}
                        </p>
                        <p>
                            <i class="icon">schedule</i>
                            Stage
                        </p>
                    </div>
                    <button class="button__primary">Détails
                        <i class="icon button__icon">arrow_forward</i>
                    </button>
                </a>
            {% endfor %}
        </article>

        {% include 'pagination.twig' %}

    </section>

{% endblock %}